.forget-password{
     background-image: url('C:\Users\vinee\Desktop\DelivaryManagmentApp\front_end\public\backgroundimg.jpg'); /* Replace with your image URL */
    background-size: cover; 
    background-repeat: no-repeat;  
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.forget-password form{
    background-color: rgba(255, 255, 255, 0.632) ;
    padding-right: 50px;
}

.forget-password button{
    background-color: darkorange;
    margin-left: 15px;
    outline: none;
}
.forget-password button:hover{
    background-color: orange;
    cursor: pointer;
}